<%- include('./header.ejs') %>

    <div class="container mt-5">
        <div class="row">
            <div class="col-md-4"><h1>Display</h1></div>
        </div>
        <div class="row">
            <!--blog table-->
            <table class="table table-bordered table-striped">
                <thead style="background-color:rgb(43, 205, 226);">
                <tr>
                    <th scope="col">Id No.</th>
                    <th scope="col">Name</th>
                    <th scope="col">Email Id</th>
                    <th scope="col">College</th>
                    <th scope="col">Course</th>
                    <th scope="col">Branch</th>
                    <th scope="col">Status</th>
                    <th scope="col">Comment</th>
                    <th scope="col">Action</th>
                </tr>
                
                </thead>
                <tbody>

                <% df.forEach((itm)=>{ %>
                <tr>
                    <th scope="row"><%= itm._id %></th>
                    <td><%= itm.name %></td>
                    <td><%= itm.email %></td>
                    <td><%= itm.college %></td>
                    <td><%= itm.course %></td>
                    <td><%= itm.branch %></td>
                    <td><%= itm.status %></td>
                    <td><%= itm.comment %></td>
                    <td>
                        <a href="#"><button class="tablebutton"><i class="fa fa-eye"></i></button></a>
                        <br>
                        <h1></h1>
                        <a href="#"><button class="tablebutton"><i class="fa fa-trash"></i></button></a>
                        <br>
                        <h1></h1>
                        <a href="#"><button class="tablebutton"><i class="fa fa-edit"></i></button></a>
                    </td>
                </tr>                          
                <% }) %>

                </tbody>
            </table>
        </div>
        <div class="row"><div class="col-md-12"><center><a href="/dashboard"><button>Go To Dashboard</button></a></center></div></div>
    </div>

<%- include('./footer.ejs')%>